
.vscode/
.idea/

data/markdown/

__pycache__/
.pytest_cache/
.tox/
.coverage
.coverage.*
.cache
.env
.nox/
.venv/
env/
htmlcov/
config.py

temp*
*.log
images
jsons
mod_detail
mods
data/mods_rwmod/
data/mods/
data/ini/
data/png/
test_*
cache_*